<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title> Mastermind </title>
    
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <form method="get">

      <input type="text" name="guess"><br>
      Guess<br>

    </form>
  </body>
</html>
