<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <title> Mastermind </title>
    
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <form action="/mastermind" method="get">
      <div>
        <label for="input">Guess:</label>
        <input type="text" name="input">
      </div>
      
      <div class="button">
        <button type="submit" value="input">Enter a guess:</button>
      </div>
    </form>

    <div>
      <%=
        input
      %>
    </div>

    <div>
      <%=
          array
      %>

    <%=
        guess = []
        guesses.each do |ary|
          ary.each { |cell| guess << cell.value.to_s }
        end

        guess
      %>
    </div>
  </body>
</html>

